In [ ]:
import pandas as pd

In [ ]:
# Load CSV files into Pandas dataframes
df1 = pd.read_csv('/content/Pharmacleaned1.csv')
df2 = pd.read_csv('/content/cleanedAutomobile2.csv')
df3 = pd.read_csv('/content/cleanedFMCG.csv')
df4 = pd.read_csv('/content/cleanedIT (1).csv')

# Merge dataframes using concat function
merged_df = pd.concat([df1, df2, df3, df4])

# Write merged dataframe to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [ ]:
merged_df.reset_index()

,index,Unnamed: 0,Unnamed: 0.1,Sector,Company,BSE,Date,Open,High,Low,Close,Adj Close,Volume,Low_52,High_52,PE_Ratio,Total_Revenue,Gross_Profit,Market_Cap,Net_Company
0,0,0,0.0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-02,43.000000,43.450001,42.525002,43.075001,39.915485,113202.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
1,1,1,1.0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-03,43.525002,45.875000,43.450001,45.500000,42.162613,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
2,2,2,2.0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-04,45.500000,45.625000,44.250000,44.924999,41.629787,113702.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
3,3,3,3.0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-05,44.974998,46.174999,44.950001,45.849998,42.486942,113886.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
4,4,4,4.0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-06,45.825001,46.750000,44.674999,45.025002,41.722450,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107535,24816,24816,NaN,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-02-28,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,27911.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107536,24817,24817,NaN,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-01,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,7435.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107537,24818,24818,NaN,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-02,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,11189.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107538,24819,24819,NaN,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-03,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,13884.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107539,24820,24820,NaN,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-06,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,14262.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09

In [ ]:
merged_df.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

In [ ]:
merged_df

,Sector,Company,BSE,Date,Open,High,Low,Close,Adj Close,Volume,Low_52,High_52,PE_Ratio,Total_Revenue,Gross_Profit,Market_Cap,Net_Company
0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-02,43.000000,43.450001,42.525002,43.075001,39.915485,113202.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
1,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-03,43.525002,45.875000,43.450001,45.500000,42.162613,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
2,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-04,45.500000,45.625000,44.250000,44.924999,41.629787,113702.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
3,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-05,44.974998,46.174999,44.950001,45.849998,42.486942,113886.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
4,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-06,45.825001,46.750000,44.674999,45.025002,41.722450,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24816,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-02-28,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,27911.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24817,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-01,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,7435.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24818,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-02,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,11189.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24819,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-03,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,13884.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24820,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-06,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,14262.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09

In [ ]:
merged_df.reset_index()

,index,Sector,Company,BSE,Date,Open,High,Low,Close,Adj Close,Volume,Low_52,High_52,PE_Ratio,Total_Revenue,Gross_Profit,Market_Cap,Net_Company
0,0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-02,43.000000,43.450001,42.525002,43.075001,39.915485,113202.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
1,1,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-03,43.525002,45.875000,43.450001,45.500000,42.162613,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
2,2,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-04,45.500000,45.625000,44.250000,44.924999,41.629787,113702.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
3,3,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-05,44.974998,46.174999,44.950001,45.849998,42.486942,113886.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
4,4,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-06,45.825001,46.750000,44.674999,45.025002,41.722450,277525.0,281.15,1023.10,16.806707,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107535,24816,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-02-28,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,27911.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107536,24817,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-01,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,7435.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107537,24818,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-02,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,11189.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107538,24819,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-03,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,13884.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
107539,24820,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-06,2214.124878,2241.312378,214.193404,2211.518890,2062.065491,14262.0,501.00,6320.75,127.215890,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09

In [ ]:
merged_df.round(2)

,Sector,Company,BSE,Date,Open,High,Low,Close,Adj Close,Volume,Low_52,High_52,PE_Ratio,Total_Revenue,Gross_Profit,Market_Cap,Net_Company
0,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-02,43.00,43.45,42.53,43.08,39.92,113202.0,281.15,1023.10,16.81,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
1,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-03,43.53,45.88,43.45,45.50,42.16,277525.0,281.15,1023.10,16.81,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
2,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-04,45.50,45.62,44.25,44.92,41.63,113702.0,281.15,1023.10,16.81,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
3,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-05,44.97,46.17,44.95,45.85,42.49,113886.0,281.15,1023.10,16.81,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
4,Pharmaceuticals & Drugs,Aurobindo Pharma Limited,AUROPHARMA.BO,2012-01-06,45.83,46.75,44.67,45.03,41.72,277525.0,281.15,1023.10,16.81,1.922593e+11,1.051329e+11,2.733746e+11,2.364730e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24816,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-02-28,2214.12,2241.31,214.19,2211.52,2062.07,27911.0,501.00,6320.75,127.22,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24817,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-01,2214.12,2241.31,214.19,2211.52,2062.07,7435.0,501.00,6320.75,127.22,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24818,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-02,2214.12,2241.31,214.19,2211.52,2062.07,11189.0,501.00,6320.75,127.22,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24819,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-03,2214.12,2241.31,214.19,2211.52,2062.07,13884.0,501.00,6320.75,127.22,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09
24820,IT,TATA ELXSI LTD,TATAELXSI.BO,2023-03-06,2214.12,2241.31,214.19,2211.52,2062.07,14262.0,501.00,6320.75,127.22,1.609860e+10,1.528785e+10,3.883712e+11,2.561001e+09

In [ ]:
merged_df.to_csv("Merged_Data.csv")